.space-mono {
  font-family: 'Space Mono', monospace;
}

.w3dot5 {
  width: 3.5rem;
}

.h3dot5 {
  height: 3.5rem;
}

.spinner {
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes spin {
    from { transform: rotate(0deg);}
    to { transform: rotateX(360deg);}
}


table{
            width: 100%;
            border: 2px solid black;
            font-size: .4em;
    margin-bottom: 2em;
        }
        
        
        th {
            padding: 10px;
        }
        
        #dark-blue{
            background-color: darkblue;
            color: azure
        }
        
        #green {
            background-color: greenyellow;
        }
        
        #orange {
            background-color: yellow;
        }
        
        
        #red {
            background-color: red;
        }
    
